
.hidden {
    display: none;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

* {
    box-sizing: border-box;
}

.progress {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    color: white;
    font-size: 0;
    text-align: center;
}

.top {
    display: inline-block;
    width: 40%;
    font-size: 14pt;
    background-color: rgb(78, 199, 230);
    color:rgb(49, 44, 44)
}

.form {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}


.btncontainer { 
    height: 200px;
    position: relative; 
    
}

.btncenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

h1 {
text-align: center;
color: rgb(255, 255, 255);

}

p {
    text-align: center;
    color:  rgb(255, 255, 255);    
    font-weight: bolder;
    background-color: rgb(49, 44, 44);
    font-size: 18px;
}

#btnstart {
box-sizing: content-box;
background-color:rgb(251, 56, 56);
border-radius: 10px;
border: 4px double #cccccc;
color: #000000;
font-size: 14px;
font-weight: bold;
padding: 20px;
width: 150px;
height: 30px;
cursor: pointer;
text-align: center;
}

#btnquiz {
    box-sizing: content-box;
    background-color:rgb(251, 56, 56);
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding: 20px;
    width: 100px;
    height: 25px;
    cursor: pointer;
    text-align: match-parent;
    }

#btnend {
    box-sizing: content-box;
    background-color:rgb(251, 56, 56);
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding: 20px;
    width: 100px;
    height: 25px;
    cursor: pointer;
    text-align: match-parent;
}

#btnretake {
    box-sizing: content-box;
    background-color:rgb(251, 56, 56);
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding: 20px;
    width: 100px;
    height: 25px;
    cursor: pointer;
    text-align: match-parent;
}
        
    
button:hover {
    background-color: rgb(255, 251, 0);
}