
.container { 
    background-color: rgb(64, 65, 63);
    height: 500px;
    position:relative;
    margin: 10px;
    border-width: 5px ;
    border-color: rgba(2, 179, 170, 0.603);
    padding: 20px;
    border-radius: 15px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.btncontainer { 
    height: 200px;
    position: relative; 
    
}

.btncenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

h1 {
text-align: center;
color: rgb(255, 255, 255);

}

p {
    text-align: center;
    color:  rgb(255, 255, 255);    
    font-weight: bolder;
}

button {
box-sizing: content-box;
background-color:blue;
border-radius: 10px;
border: 4px double #cccccc;
color: #eeeeee;
font-size: 14px;
font-weight: bold;
padding: 20px;
width: 150px;
height: 30px;
cursor: pointer;
text-align: center;
}

button:hover {
    background-color: cornflowerblue;
}